li {
  float: left;
}

li a {
  display: block;
  color: #B01E57;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
    font-family: 'Open Sans', sans-serif;
}